.buildpath
.cache/
.project
.settings/
application/config.ini
application/dbconfig.ini
acorn_sessions/sess_*
bb2/*
logs/*log*
public/documentation
public/drsstagingfiles
public/userfiles/*
public/userreports/*.pdf
public/userreports/cvsreports/*.csv
public/userreports/pdfreports/*.pdf
public/userreports/searches
