.cache/
.project
.settings/
application/config.ini
acorn_sessions/sess_*
logs/*log*
public/documentation
public/drsstagingfiles
public/userfiles/*
public/userreports/*.pdf
public/userreports/pdfreports/*.pdf
public/userreports/searches
